/*
    Cafe Brick by HTML5
    author: vulastic
*/

/*
  Set root
*/
:root {
  --text: #FEF5EF;
  --back: #030301;
  --prime: #B68D40;
  --second: #F4EBD0;
  --accent: #804330;
  --font-text: 'Poppins', 'IBM Plex Sans KR', sans-serif;
  --font-bold: 'Josefin Sans', 'IBM Plex Sans KR', sans-serif;
  --font-italic: 'Kaushan Script', 'IBM Plex Sans KR', cursive;
}

/*
  Reset html tags
*/
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*
  Tag defaults
*/
html {
  scroll-behavior: smooth;
}

body {
  -ms-overflow-style: none;
  background: url(./images/blackboard.webp) no-repeat fixed;
  color: var(--text);
  font-family: var(--font-text);
}

::-webkit-scrollbar {
  display: none;
}

section {
  display: block;
  width: 100%;
  height: 50vh;
}

// text size mixin
@mixin text-size-title {
  font-size: 3rem;
}

@mixin text-size-body {
  font-size: 1.25rem;
}

@mixin image-fullsize {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// button styles
@mixin btn-style-round {
  padding: 0.4rem 0.75rem;
  border: 3px solid var(--prime);
  border-radius: 10px;
  background-color: var(--prime);
  color: white;
  font-family: var(--font-text);
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: transparent;
  }
}

@mixin btn-style-text {
  border: none;
  background-color: transparent;
  color: var(--prime);
  font-family: var(--font-text);
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  cursor: pointer; 
  &:hover {
    color: var(--accent);
  };
}

// topbar
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  padding: 0 20px;
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  z-index: 3;

  &--scrolled {
    top: -30px;
  }

  &-info {
    display: flex;
    align-items: center;
    list-style: none;
    
    & > li {
      padding-right: 1rem;

      & > i {
        padding-right: 0.5rem;
        color: var(--prime);
      }
    }
  }

  &-language {
    display: flex;
    list-style: none;
    align-items: center;

    & > li {
      padding-left: 10px;

      & > a {
        color: var(--text);
        text-decoration: none;
        &:hover {
          color: var(--accent);
        }
      }

      &:nth-child(2) {
        font-size: 0.75rem;
      }
    }
    
    &--active {
      color: var(--prime)!important;
    }
  }
}

/*
  Header
*/
.header {
  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 30px;
  width: 100%;
  height: 70px;
  padding: 0 5vh;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;

  &--scrolled {
    top:0px;
    background-color: var(--back);
  }

  &-brand {
    padding: 1rem 0;

    & > img {
      @include image-fullsize;
      filter: invert(1);
    }
  }

  &-navbar {
    display: flex;
    align-items: center;

    & > ul {
      display: flex;
      list-style: none;
    }

    &__nav-item {
      padding: 1.5rem 0 1.5rem 3rem;
      color: var(--text);
      font-size: 16px;
      text-decoration: none;
      &:hover {
        color: var(--accent);
      }

      &--active {
        color: var(--prime);
      }
    }
  }
}

/*
  Carousel
*/
.carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;

    & > i {
      margin-bottom: 10px;
      color: var(--prime);
      font-family: var(--font-italic);
      @include text-size-title;
    }
    & > h1 {
      margin-bottom: 20px;
      font-family: var(--font-bold);
      font-weight: bold;
      @include text-size-title;
    }
    & > p {
      margin-bottom: 100px;
      @include text-size-body;
    }
    &__button {
      position: absolute;
      bottom: 5vh;
      @include btn-style-round;
    }

    &__arrow {
      @mixin carousel-content__arrow {
        display: flex;
        align-items: center;
        position: absolute;
        height: 100%;
        font-size: 5rem;
        cursor: pointer;
        opacity: 0.3;
        transition: opacity 100ms;
        &:hover {
          opacity: 1;
        }
      }
      &--prev {
        @include carousel-content__arrow;
        left: 0;
        padding-left: 1rem;
      }
      &--next {
        @include carousel-content__arrow;
        right: 0;
        padding-right: 1rem;
      }
    }
  }

  &-spinner {
    display: flex;
    list-style: none;
    height: 100%;
    scroll-behavior: smooth;

    & > li {
      flex: 1 0 100%;
      width: 100%;
      height: 100%;

      & > img {
        @include image-fullsize;
      }
    }

    &__transition {
      &--slide {
        -webkit-transition: transform 0.5s ease-in-out;
        -moz-transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
      }
      &--fade {
        -webkit-transition: opacity 0.5s linear;
        -moz-transition: opacity 0.5s linear;
        transition: opacity 0.5s linear;
      }
    }
  }

  &.fade .carousel-spinner {
    & > li {
      position: absolute;
      opacity: 0;
    }
    & > li:nth-child(1) {
      opacity: 1;
    }
  }
}
