

/*
    Cafe Brick by HTML5
    author: vulastic
*/

/*
    set root
*/
:root {
  --sienna: #B68D40;
  --aztec: #122620;
  --ivory: #F4EBD0;
  --tacha: #D6AD60;
  --font-family-cursive: 'Kaushan Script', cursive;
  --font-family-bold: 'Josefin Sans', 'IBM Plex Sans KR', sans-serif;
  --font-family-text: 'Poppins', 'IBM Plex Sans KR', sans-serif;
}


/*
    init html components
*/
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/*
    set html component
*/
body {
  -ms-overflow-style: none;
  background-color: var(--aztec);
  font-family: var(--font-family-text);
}

::-webkit-scrollbar {
  display: none;
}

section {
  width: 100%;
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-family: var(--font-family-bold);
  font-weight: bold;
  font-size: 2.7em;
  color: white;
  margin-block-end: 0.83em;
}

p {
  color: white;
}

/*
    general
*/
.container {
  z-index: 10;
}

.cursive {
  font-family: var(--font-family-cursive);
  font-size: 2.7em;
  color: var(--sienna);
}

.text-center {
  text-align: center;
}

.button {
  border: 1px solid var(--sienna);
  border-radius: 5px;
  background-color: var(--sienna);
  color: white;
  font-family: var(--font-family-bold);
  font-size: 0.6em;
  cursor: pointer;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.button:hover {
  background-color: transparent;
}

/*
    carousel
*/
.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel .carousel-container {
  height: 100%;
  display: flex;
  list-style: none;
  scroll-behavior: smooth;
}

.carousel-container > li {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.carousel.switch .carousel-container > li {
  position: absolute;
  opacity: 0;
}

.carousel.switch .carousel-container > li:nth-child(1) {
  opacity: 1;
}

.carousel-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.carousel-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 5rem;
  font-size: 3.5rem;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  z-index: 2;
}

.carousel-arrow:hover,
.carousel-arrow:focus {
  opacity: 1;
}

.carousel-arrow.prev {
  left: 0;
  padding-left: 0.5rem;
}

.carousel-arrow.next {
  right: 0;
  padding-right: 0.5rem;
}

.carousel .sliding-transition {
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.carousel .fade-transition {
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
/*
  end of carousel
*/


/*
  sections - home
*/
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

#home .container span {
  line-height: 1.8;
}

#home .container h1 {
  margin-block-end: 24px;
}

#home .container p {
  margin-block-end: 128px;
}

#home .button {
  position: absolute;
  bottom: 10vh;
  z-index: 1;
}
