/*
    Cafe Brick by HTML5
    author: vulastic
*/
//=================================================
//    Media query
//=================================================
$desktop: 1199px;
$laptop: 991px;
$tablet: 767px;
$mobile: 575px;
$small: 319px;

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin small {
  @media (max-width: #{$small}) {
    @content;
  }
}

//=================================================
//    Root values
//=================================================
$color-text: #FEF5EF;
$color-back: #141111;
$color-back-alpha: #100d0580;
$color-back-dark: #100d05cc;
$color-prime: #b68d40;
$color-second: #be9d6b;
$color-accent: #804330;
$font-text: 'Poppins', 'IBM Plex Sans KR', sans-serif;
$font-bold: 'Josefin Sans', 'IBM Plex Sans KR', sans-serif;
$font-italic: 'Kaushan Script', 'IBM Plex Sans KR', cursive;

//=================================================
//    style button mixin
//=================================================
@mixin btn-style-round {
  padding: 0.4rem 0.75rem;
  border: 3px solid $color-prime;
  border-radius: 10px;
  background-color: $color-prime;
  color: white;
  font-family: $font-text;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
  &:hover {
    background-color: transparent;
  }
}

@mixin btn-style-text {
  border: none;
  color: $color-prime;
  font-family: $color-text;
  text-align: center;
  text-decoration: none;
  cursor: pointer; 
  &:hover {
    color: $color-accent;
  };
}

@mixin temp {
  background-color: $color-second;
}

//=================================================
//    Reset HTML
//=================================================
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	border: 0;
  font:inherit;
	vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

body {
  -ms-overflow-style: none;
  background: url(./images/blackboard.webp) no-repeat fixed;
  background-size: cover;
  font-family: $font-text;
  color: $color-text;
}

::-webkit-scrollbar {
  display: none;
}

header, section, footer {
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*=================================================
Responsive screen size
=================================================*/
html {
  font-size: 100%;
  @include tablet() {
    font-size: 87.5%;
  }
  @include mobile() {
    font-size: 75%;
  }
  @include small() {
    font-size: 62.5%;
  }
}

.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/*=================================================
    Loading screen
=================================================*/
#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-back;
  z-index: 100;
  & > img {
    width: 100px;
    height: 100px;
  }
}

#title {
  margin-top: 10vh;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;

  &.title--loaded {
    margin-top: 0px;
    opacity: 1;
  }
}

/*=================================================
    Topbar
=================================================*/
.topbar {
  top: 0px;
  width: 100%;
  height: 30px;
  position: fixed;
  font-size: 0.875rem;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  transition: top 0.5s;
  z-index: 3;
  
  &--scrolled {
    top: -30px;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
  }

  &-info {
    list-style: none;

    & > li {
      display: inline-block;

      &:nth-child(1) {
        padding-right: 1rem;
      }

      & > i {
        padding-right: .5rem;
        color: $color-prime;
      }
    }
  }

  @include tablet() {
    font-size: 1rem;
    &-container {
      justify-content: center;
    }
  }
}

/*=================================================
    Language Selector
=================================================*/
.language-selector {
  list-style: none;

    & > li {
      display: inline-block;

      & > a {
        color: $color-text;
        text-decoration: none;
        &:hover {
          color: $color-accent;
        }
      }

      &:nth-child(even) {
        padding: 0 .5rem;
        font-size: 0.75rem;
      }
    }
    
    &--active {
      color: $color-prime!important;
    }

  &--mobile {
    display: none;
  }

  @include tablet() {
    display: none;

    &--mobile {
      display: block;
    }
  }
}

/*=================================================
    Header
=================================================*/
.header {
  position: fixed;
  top: 30px;
  height: 70px;
  background-color: $color-back-alpha;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 5;
  
  &--scrolled {
    top: 0px;
    background-color: $color-back;
  }
  
  &-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;

    &__brand {
      height: 42px;
  
      & > img {
        filter: invert(1);
      }
    }

    &__menu {
      display: flex;
      list-style: none;
      
      &-item {
        padding-left: min(2vw, 30px);
        color: $color-text;
        text-decoration: none;
        &:hover:not(.language-selector) {
          color: $color-accent;
        }

        &--active {
          color: $color-prime;
        }
      }
    }

    &__menu-toggle {
      display: none;
      border: none;
      color: $color-text;
      background-color: transparent;
      font-size: 1rem;
      &:hover {
        color: $color-accent;
      }
    }
  }

  @include tablet() {
    height: 40px;
    max-height: 40px;
    overflow: hidden;
    
    &--expanded {
      height: auto;
      max-height: 100%;
      background-color: $color-back;
    }
    
    &-navbar {
      &__brand {
        height: 40px;
        padding: 8px 0;
      }

      &__menu {
        flex-direction: column;
        flex-basis: 100%;
        
        & > li {
          padding: 1.5rem;
        }
        
        &-item {
          display: inline-block;
          width: 100%;
        }
      }
      &__menu-toggle {
        display: block;
        & > p {
          display: inline;
          font-family: $font-text;
        }
      }
    }
  }
}

/*=================================================
    Title and carousel
=================================================*/
.carousel {
  height: 100vh;
  overflow: hidden;

  &-container {
    position: relative;
    padding: 0;
  }

  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-back;
    opacity: 0.4;
    z-index: 2;
  }

  &-content {
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 100px auto 100px;
    place-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;

    &__title {
      -ms-grid-column: 2;
      -ms-grid-row: 2;
      grid-column: 2;
      grid-row: 2;
      text-align: center;
      & > i {
        color: $color-prime;
        font-family: $font-italic;
        font-size: 3.25rem;
      }
      & > h1 {
        margin-bottom: 20px;
        font-family: $font-bold;
        font-weight: bold;
        font-size: 3.25rem;
      }
      & > p {
        margin-bottom: 100px;
        font-size: 1.25rem;
      }
    }

    @mixin carousel-overlay__arrow {
      font-size: 5rem;
      cursor: pointer;
      opacity: 0.3;
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      transition: opacity 0.3s;
      &:hover {
        opacity: 1;
      }
    }

    &__prev {
      @include carousel-overlay__arrow;
      -ms-grid-column: 1;
      -ms-grid-row: 2;
      grid-column: 1;
      grid-row: 2;
      text-align: left;
      padding-left: 1rem;
    }
    &__next {
      @include carousel-overlay__arrow;
      -ms-grid-column: 3;
      -ms-grid-row: 2;
      grid-column: 3;
      grid-row: 2;
      text-align: right;
      padding-right: 1rem;
    }
    &__button {
      @include btn-style-round;
      -ms-grid-column: 2;
      -ms-grid-row: 3;
      grid-column: 2;
      grid-row: 3;
    }
  }

  &-spinner {
    display: flex;
    list-style: none;
    height: 100%;
    scroll-behavior: smooth;

    & > li {
      flex: 1 0 100%;
      width: 100%;
      height: 100%;
    }

    &__transition {
      &--slide {
        -webkit-transition: transform 0.5s ease-in-out;
        -moz-transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
      }
      &--fade {
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        transition: opacity 0.5s;
      }
    }
  }

  &.fade .carousel-spinner {
    & > li {
      position: absolute;
      opacity: 0;
    }
    & > li:nth-child(1) {
      opacity: 1;
    }
  }

  @include tablet() {
    &-content {
      grid-template-columns: 10px auto 10px;

      &__prev, &__next {
        display: none;
      }
    }
  }
}

/*=================================================
    Story
=================================================*/
.story {
  position: relative;
  height: calc(100vh - 70px);

  &-photo {
    display: flex;
    list-style-type: none;
    width: 70%;
    height: 100%;

    & > li > img {
      height: 80%;
    }

    & > li:nth-child(even) {
      display: flex;
      align-items:flex-end;
      padding-left: 1rem;
    }
  }

  &-content {
    position: absolute;
    top: 10%;
    left: 60%;
    margin-right: 1rem;
    background-color: $color-back-dark;
    padding: 1.5rem;

    & > i {
      padding-left: 0.5rem;
      color: $color-prime;
      font-family: $font-italic;
      font-size: 1.5rem;
    }

    & > h2 {
      margin-bottom: 1rem;
      font-family: $font-bold;
      font-size: 2rem;
      font-weight: bold;
      line-height: 1rem;
    }
  }

  @include desktop() {
    &-photo {
      width: 70%;

      & > li {
        display: none;
      }

      & > li:nth-child(even) {
        display: none;
      }

      & > li:nth-child(1) {
        display: block;

        & > img {
          height: 100%;
        }
      }
    }
    &-content {
      left: 50%;
    }
  }

  @include tablet() {
    height: calc(100vh - 40px);

    &-photo {
      width: 100%;
    }
    &-content {
      top: 60%;
      left: 5%;
    }
  }

  @include mobile() {
    &-photo {
      width: 100%;
      height: 65%;
    }
    &-content {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 35%;
      margin: 0;
    }
  }
}

.menu {
  @include temp;
  height: 100vh;
}

.photo {
  height: 100vh;
}

.history {
  background-color: #1a1814;
  height: 100vh;
}

.about {
  @include temp;
  height: 100vh;
}

.contact {
  height: 100vh;
}

.footer {
  @include temp;
  height: 30vh;
}
